

@mixin boxes($darkBlue, $corail, $softBlue, $hightRed, $limeGreen, $violet, $padding) {

    .boxes {

        display: flex;
        flex-direction: row;
        width: 950px;
        gap: 30px;
        flex-wrap: wrap;
        
        & > div {
            border-radius:  15px 15px 50px 50px ;
        }
    
        .header {
            height: 45px;
            width: 250px; 
        }
    
        .content {
            height: 190px;
            width: 250px;
            border-radius: 15px;
            background-color: $darkBlue;
            padding: $padding;
            svg { 
                fill:#BBC0FF;
                fill-rule:evenodd;
            }
            svg:hover {
                fill: #fff;
                fill-rule: evenodd;
                cursor: pointer;
            }
            
        }
    
        .work {
            background-color: $corail ;
            border-radius:  20px 20px 50px 50px ;
            .header {
                
                background: url('/src/images/icon-work.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px;
    
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    
        .play {
            background-color: $softBlue;
            border-radius:  20px 20px 50px 50px ;
            .header {
                background: url('/src/images/icon-play.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px; 
                
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    
        .study {
            
            background-color: $hightRed ;
            border-radius:  20px 20px 50px 50px ;
            .header {
                background: url('/src/images/icon-study.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px; 
    
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    
        .exercise {
            background-color: $limeGreen;
            border-radius:  20px 20px 50px 50px ;
            .header {
                background: url('/src/images/icon-exercise.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px;   
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    
        .social {
            background-color: $violet;
            border-radius:  20px 20px 50px 50px ;
    
            .header {
                background: url('/src/images/icon-social.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px; 
    
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    
        .selfcare {
            background-color: $softOrange;
            border-radius:  20px 20px 50px 50px ;
    
            .header {
                background: url('/src/images/icon-self-care.svg');
                background-size: 79px 79px;
                background-position-x: 160px;
                background-repeat: no-repeat;
                background-position-y: -10px; 
    
            }
             .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .content-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .content-detail {
                  
                    h2 {
                        margin-top: 15px;
                    }
                }
            }    
        }
    }
}